.DS_Store
node_modules
/dist
/src/assets/01 FULL.mp4
/src/assets/01 FADE.mp4
/src/assets/02 FADE.mp4
/src/assets/02.mp4

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
